body {
    margin: 10px;
}

.canvas-container {
    position: fixed;
    width: 50vw;
    /* Reduced to half viewport width */
    height: 50vh;
    z-index: -1;
    pointer-events: none;
}

canvas {
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: 0;
    right: 0;
    clip-path: polygon(0% 42%, 100% 0%, 100% 100%, 0% 100%);

}

.form-container {
    position: relative;
    z-index: 1;

}

.header {
    display: flex;
    justify-content: baseline;
    width: fit-content;
    margin: 0px 0px 0px 30px;
}


#email-error {
    max-height: fit-content;
}

.sign-up {
    display: flex;
    justify-content: center;

}

#user_email {
    gap: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

form {
    position: relative;
    background-color: white;
    padding: 70px;
    border-radius: 20px;
    box-shadow: 5px 2px 5px 10px rgba(128, 128, 128, 0.095);

}

#full {
    display: flex;
    flex-direction: column;
}



#email {
    display: flex;
    flex-direction: column;
}

#create {
    margin-left: auto;
    margin-right: auto;
}

#password {
    display: flex;
    flex-direction: column;
}

.invalid::marker {
    color: green;

}

.valid {
    color: gray;
}


label[for="user_password"] {
    padding-right: 250px;
}


#create button {
    background-color: #5c58d2;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: large;
    height: 3rem;
    padding-inline: 7rem;
    box-shadow: rgb(177, 176, 176) 6px 6px;
    white-space: nowrap;
}

.criteria {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 5px;

}

#eye {
    cursor: pointer;
}

#create button:hover {
    cursor: pointer;

}

#create button:active {
    background-color: rgb(84, 84, 84);
    box-shadow: 4px 4px;
}

input {
    height: 2rem;
    border-radius: 10px;
    font-size: medium;
    /* overflow: hidden; */

}